.app-shell {
  position: relative;
  z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;
    min-height: 100vh;
    padding: 60px 60px 120px 60px;

}

/* LAYOUT REGIONS */

.robot-panel,
.center-panel,
.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.robot-panel {
  width: 100%
}

.center-panel {
  gap: 160px;
}