.pings {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;
    height: 260px;

    position: relative;
    animation: float 4s ease-in-out infinite;

}

.pings::before {
    content: "";

    position: absolute;

    width: 220px;
    height: 220px;

    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(120,220,255,.35),
        transparent 70%
    );

    animation: pulse 4s ease-in-out infinite;
}

.pings-head {
    width: 160px;
    height: 160px;

    border-radius: 40px;

    background: rgba(255,255,255,.12);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,.15);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

    position: relative;

    box-shadow:
        0 0 40px rgba(120,220,255,.15);
    flex-direction: column;
}

.eye {
    width: 14px;
    height: 14px;

    border-radius: 50%;

    background: #ffffff;

    box-shadow:
        0 0 12px rgba(255,255,255,.8);

    animation: blink 5s infinite;
}

@keyframes pulse {
    0%,100% {
        transform: scale(1);
        opacity: .5;
    }

    50% {
        transform: scale(1.08);
        opacity: 1;
    }
}

@keyframes blink {
    0%,48%,52%,100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(.1);
    }
}
.visor {
    width: 90px;
    height: 45px;

    background: rgba(20,20,40,.8);

    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 20px;
}
.mouth {
    width: 30px;
    height: 6px;

    background: rgba(255,255,255,.8);

    border-radius: 999px;

    margin-top: 10px;

    box-shadow:
        0 0 8px rgba(255,255,255,.4);
    transition: all .3 ease;
}
.pings-head:hover .mouth {
    width: 40px;
}
@keyframes float {
    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
